data_factory/pipeline/get_raw_prices_copy1.json
{
	"name": "get_raw_prices_copy1",
	"properties": {
		"activities": [
			{
				"name": "lookup_tickers",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Ticker\nFROM raw.Tickers WHERE Ticker = 'AAPL'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_sql_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_prices",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_tickers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "01:00:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@{json(concat('{\"tickers\":' ,activity('lookup_tickers').output.value ,'}'))}",
							"type": "Expression"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "ds_prices_alpaca_source_rest_api",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "raw",
							"TableName": "Prices_test"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Staging"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-18T03:12:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}