data_factory/pipeline/get_tickers_list_EOW.json
{
	"name": "get_tickers_list_EOW",
	"properties": {
		"activities": [
			{
				"name": "get_tickers_for_each_exchange",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "clear_tickers_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().globalParameters.Exchange_List",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "stage_tickers",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "01:00:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": 2
							},
							"inputs": [
								{
									"referenceName": "ds_tickers_list_source_rest_api",
									"type": "DatasetReference",
									"parameters": {
										"Exchange": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generic_sql_table",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "raw",
										"TableName": "Tickers"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "clear_tickers_table",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sql_server",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "DELETE FROM raw.Tickers "
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "stage_index_tickers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "clear_tickers_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SecType",
								"value": "Index"
							},
							{
								"name": "MarketCap",
								"value": "-1"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_custom_lists_source_blob",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "index-list.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "raw",
							"TableName": "Tickers"
						}
					}
				]
			},
			{
				"name": "stage_etf_tickers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "clear_tickers_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SecType",
								"value": "ETF"
							},
							{
								"name": "Sector",
								"value": "Financial"
							},
							{
								"name": "Industry",
								"value": "Exchange Traded Fund"
							},
							{
								"name": "Country",
								"value": "USA"
							},
							{
								"name": "MarketCap",
								"value": "-1"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Ticker",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ticker",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SecType",
									"type": "String"
								},
								"sink": {
									"name": "SecType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Exchange",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Exchange",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Sector",
									"type": "String"
								},
								"sink": {
									"name": "Sector",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Industry",
									"type": "String"
								},
								"sink": {
									"name": "Industry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MarketCap",
									"type": "String"
								},
								"sink": {
									"name": "MarketCap",
									"type": "Double",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_custom_lists_source_blob",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "etf-list.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "raw",
							"TableName": "Tickers"
						}
					}
				]
			},
			{
				"name": "stage_etf_short_names",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "stage_etf_tickers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SecType",
								"value": "ETF"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE config.TickerShortNames",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Ticker",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ticker",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SecType",
									"type": "String"
								},
								"sink": {
									"name": "SecType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShortName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ShortName",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_custom_lists_source_blob",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "etf-list.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_sql_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "config",
							"TableName": "TickerShortNames"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-07T15:45:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}